{% extends 'main.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1>{{ chosen_property.name }}</h1>

      <p>City: {{ chosen_property.city }}</p>
      <p>Country: {{ chosen_property.country }}</p>
      <p>Address: {{ chosen_property.address }}</p>
      <p>Latitude: {{ chosen_property.latitude }}</p>
      <p>Longitude: {{ chosen_property.longitude }}</p>

      <hr />

      {% if properties|length > 1 %}
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ chosen_property.name }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for property in properties %}
          <!--  -->
          {% if property.property_id != chosen_property.property_id %}
          <li>
            <a
              class="dropdown-item"
              href="{% url 'main-property' property.property_id %}"
              onclick="updateUrl('{{ property.property_id }}');"
            >
              {{ property.name }}
            </a>
          </li>
          {% endif %} {% endfor %} {% if not properties|length %}
          <li>
            <a class="dropdown-item disabled">No other properties</a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<script>
  function updateUrl(propertyId) {
    var url = new URL(window.location.href);
    url.searchParams.set("property_id", propertyId);
    history.replaceState(null, "", url);
  }
</script>
{% endblock %}
