{% extends 'main.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1>{{ profile.username }}</h1>

      <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'edit-profile' %}" class="btn btn-primary"
          >Edit Profile</a
        >
        <a href="{% url 'add-property' %}" class="btn btn-primary"
          >Add Property</a
        >
        {% for group in all_groups %} {% if not group in user.groups.all %}
        <form method="post" action="{% url 'add_group' %}">
          {% csrf_token %}
          <input type="hidden" name="group_name" value="{{ group.name }}" />

          <button class="btn btn-primary" type="submit">
            Add {{ group.name }} role
          </button>
        </form>
        {% endif %} {% endfor %}
      </div>

      {% for property in profile.property_set.all %}
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{ property.name }}</h5>
          <div class="d-flex justify-content-end">
            <a
              href="{% url 'update-property' property.property_id %}"
              class="btn btn-primary me-2"
              >Update</a
            >
            <a
              href="{% url 'delete-property' property.property_id %}"
              class="btn btn-danger"
              >Delete</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
